workDir =    "${projectDir}/../work"
tmpDir =     "${projectDir}/../tmp"

params {
  reportdir = "${projectDir}/../reports"
  run_sccaf = true
}

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

process {
  container = 'nf_tensorqtl_1.2'

  errorStrategy = 'terminate'
  //errorStrategy = 'retry'
  //maxRetries = 2

  // basic resources
  cpus = 1
  memory = 2.GB

  // basic output settings
  publish_mode = "rellink" // symlink or copy

  withName: prep_plink_files_from_genotype_vcf {
    memory = {7800.MB * task.attempt} // plink2 --memory argument is in MiB
    cpus = 4
  }
  withName: calc_genotype_pca_plink {
    memory = {8.GB * task.attempt}
  }

  withName: aggregate_UMI_counts_total_sum {
      memory = { 6.GB * task.attempt }
  }
  withName: normalize_counts_TMM {
      memory = { 600.MB * task.attempt }
  }

}
